# Virtual environment
venv/

# dbt build artifacts
target/
logs/


# OS files
.DS_Store
Thumbs.db

# Large raw data
data/

# Local databases
project.db
project.duckdb

# dbt build artifacts
target/
logs/